<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>{{cn}}的详情-清华大学辩论队</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

<div style="position:fixed;
	right:5pt;top:0;
	font-size:11pt;
	color:black;
	background-color:rgba(225,225,225,0.7);
	padding:0 0.5em" >
{% if name %}
你好 {{name}} [<a href="/accounts/logout/">登出</a>]
{% else %}
 [<a href="/accounts/login/">登录</a>]
{% endif %}
 [<a href="/">回主页</a>]
 </div>

<div style="max-width:700px;" class="container">
	<h1> {{cn}} <sub><small>后台id:"{{cun}}"</small></sub></h1>
	<h3> &nbsp;&nbsp;{{fac}} {{gra}}级 </h3>
	
	<hr/>
	
	<table class="table table-hover table-bordered">
		<tbody>
		{%for x in ar%}
		<tr>
			<td>{{x.kind}}</td>
			<td>{{x.name}}</td>
			<td>{{x.detail}}</td>
			<td>{{x.when | date:"Y.m.d."}}</td>
			<td><b>{{x.soc}}</b></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	
	<hr/>
	<hr/>
	<h3> 公开文章 </h3>
	<ul>
		{%for a in pa%}
		<li> <a href="/member/{{cun}}/publicSpace/{{a.f}}">{{a.t}} </a> </li>
		{% endfor %}
	</ul>

	<h3> 非公开文章 </h3>
	<ul>
		<li style="color:grey">不予显示</li>
	</ul>
	
</div>

<body>
